<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">
    <display-name>Archetype Created Web Application</display-name>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:beans*.xml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>
                com.sun.jersey.config.property.packages
            </param-name>
            <param-value>
                com.jdbc.demo.web.rest;org.codehaus.jackson.jaxrs
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Security configuration -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>LoginRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>Basic User</description>
        <role-name>Basic</role-name>
    </security-role>
    <security-role>
        <description>AdminUser</description>
        <role-name>Admin</role-name>
    </security-role>

    <security-role-mapping>
        <role-name>Admin</role-name>
        <group-name>Admin</group-name>
    </security-role-mapping>
    <security-role-mapping>
        <role-name>Basic</role-name>
        <group-name>Basic</group-name>
    </security-role-mapping>
    <security-role-mapping>
        <role-name>Admin</role-name>
        <principal-name>admin</principal-name>
    </security-role-mapping>

    <security-constraint>
        <display-name>AdminAccess</display-name>
        <web-resource-collection>
            <web-resource-name>AllAdminOperations</web-resource-name>
            <description/>
            <url-pattern>/drivers/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Admin Only Access</description>
            <role-name>Admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>Secured Login</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- Security configuration end -->




    <context-param>
        <param-name>drivers</param-name>
        <param-value>com.jdbc.demo.services.DriverManager</param-value>
    </context-param>

    <context-param>
        <param-name>addresses</param-name>
        <param-value>com.jdbc.demo.services.AddressManager</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.jdbc.demo.web.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>com.jdbc.demo.web.RequestLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
    <servlet-name>DriverEditServlet</servlet-name>
    <servlet-class>com.jdbc.demo.web.routing.DriverEditServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>DriverEditServlet</servlet-name>
        <url-pattern>/drivers/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DriverAddServlet</servlet-name>
        <servlet-class>com.jdbc.demo.web.routing.DriverAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverAddServlet</servlet-name>
        <url-pattern>/drivers/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DriverDetailsServlet</servlet-name>
        <servlet-class>com.jdbc.demo.web.routing.DriverDetailsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverDetailsServlet</servlet-name>
        <url-pattern>/drivers/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VehicleEditServlet</servlet-name>
        <servlet-class>com.jdbc.demo.web.routing.VehicleEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VehicleEditServlet</servlet-name>
        <url-pattern>/vehicles/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VehicleAddServlet</servlet-name>
        <servlet-class>com.jdbc.demo.web.routing.VehicleAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VehicleAddServlet</servlet-name>
        <url-pattern>/vehicles/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.jdbc.demo.web.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>



</web-app>
